# {{ profile.fullname }}
### {{ profile.occupation }}

---

## 👤 Sobre mí

{{ profile.description }}

---

## 🛠️ Lenguajes que he utilizado

{% for language in actual_languages -%}
![{{ language.name }}]({{ language.badge_url }})
{% endfor %}

---
## 🛠️ Lenguajes que deseo aprender

{% for language in new_languages -%}
![{{ language.name }}]({{ language.badge_url }})
{% endfor %}

---

## 🚧 Proyectos en progreso

| Proyecto | Descripción | Progreso | Estado | Repo |
|----------|-------------|----------|--------|------|
{% for project in projects.special + projects.in_progress -%}
| **{{ project.name }}** | {{ project.description }} | ![progreso]({{ project.progress_badge_url }}) | {{ project.status }} | [Ver repo]({{ project.repo_url }}) |
{% endfor %}

---

## ✅ Proyectos finalizados

{% for project in projects.finished -%}
### [**{{ project.name }}**]({{ project.repo_url }})
{{ project.description }}
- ![GitHub stars]({{ project.stars_badge_url }})
{% endfor %}


---

## 📊 Estadísticas
![Github Stats](https://github-readme-stats-eight-theta.vercel.app/api?username={{ profile.username }}&show_icons=true&count_private=true&theme=tokyonight)

---

## 📫 Contacto
{% for social_media in profile.additional_info -%}
[![{{ social_media.social_media_name }}](https://img.shields.io/badge/{{ social_media.social_media_name }}-blue?style=for-the-badge&logo={{ social_media.social_media_name }}&logoColor=white)]({{ social_media.url }})
{% endfor %}
